section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title.font-w-bold.font-s-45
        span.font-w-bold-i.color-orange 9 лет 
        | успешной работы
      .about-section__sub-title.font-s-22
        span.font-w-bold «ЦВЕТ АПРЕЛЯ»
        | — это студия развития детей 
        br.no-br
        | в возрасте от 8 месяцев до 3 лет. В своей работе 
        br.no-br
        | мы опираемся на научно доказанную методику 
        br.no-br
        | раннего развития, созданную одним из величайших 
        br.no-br
        | педагогов Марией Монтессори.
      .about-section__text.font-s-18
        | Наш бизнес компактный и 
        span.font-w-bold не требует больших вложений, 
        br.no-br
        | он идеально подходит для молодых мам, которые хотят заработать. 
        br.no-br
        | Студия может располагаться прямо в вашей квартире и ваши 
        br.no-br
        | собственные дети будут с вами наравне с воспитанниками.
        br
        br
        | «ЦВЕТ АПРЕЛЯ» открылся в Москве в 2015 году и до сих пор успешно 
        br.no-br
        | работает. За эти годы мы накопили большой опыт в педагогике, 
        br.no-br
        | менеджменте и маркетинге. Мы с радостью 
        span.font-w-bold научим вас всему, 
        br.no-br
        | что умеем, и приглашаем стать частью нашей команды.
      img.about-section__img(src="images/about-section-img.png" loading="lazy" width="1282" height="1023" alt="image")
      img.about-section__icon-1(src="images/about-section-icon-1.png" loading="lazy" width="128" height="132" alt="icon")
      img.about-section__icon-2(src="images/about-section-icon-2.png" loading="lazy" width="178" height="188" alt="icon")
