section.details-section
  .wrapper
    .details-section__container
      h2.details-section__title.font-w-ultra-bold.font-s-56
        span.color-green Узнайте больше 
        br
        | о специфике работы бизнеса
      .details-section__sub-title.font-w-bold.font-s-22
        | Запишитесь на консультацию, где мы расскажем вам:

      .details-section__block-mobile
        .swiper-bullet
          .details-section__cards-mobile.swiper-wrapper
            .details-section__card-mobile.swiper-slide
              img.details-section__card-mobile-icon(src="images/details-section-card-icon-1.svg" loading="lazy" width="64" height="64" alt="icon")
              .font-s-18 Из чего состоит <br> ежедневная работа <br> владельца кофейни
            .details-section__card-mobile.swiper-slide
              img.details-section__card-mobile-icon(src="images/details-section-card-icon-2.svg" loading="lazy" width="64" height="64" alt="icon")
              .font-s-18 На что обращать внимание <br> при выборе локации и <br> помещения
            .details-section__card-mobile.swiper-slide
              img.details-section__card-mobile-icon(src="images/details-section-card-icon-3.svg" loading="lazy" width="64" height="64" alt="icon")
              .font-s-18 Как правильно <br> позиционировать себя <br> на рынке и кто ваша ЦА
            .details-section__card-mobile.swiper-slide
              img.details-section__card-mobile-icon(src="images/details-section-card-icon-4.svg" loading="lazy" width="64" height="64" alt="icon")
              .font-s-18 Как легко привлекать клиентов <br> и выделиться среди <br> конкурентов
            .details-section__card-mobile.swiper-slide
              img.details-section__card-mobile-icon(src="images/details-section-card-icon-5.svg" loading="lazy" width="64" height="64" alt="icon")
              .font-s-18 Как правильно организовать <br> работу персонала и на что <br> делать акцент
            .details-section__card-mobile.swiper-slide
              img.details-section__card-mobile-icon(src="images/details-section-card-icon-6.svg" loading="lazy" width="64" height="64" alt="icon")
              .font-s-18 Как быстро окупить ваши <br> вложения и выйти на <br> стабильную прибыль
          .bullet-pagination
        .swiper-bullet
          .details-section__cards-mobile-images.swiper-wrapper
            .details-section__card-mobile-image.swiper-slide
              img.details-section__card-mobile-img(src="images/details-section-card-img-1.jpg" loading="lazy" width="760" height="544" alt="image")
            .details-section__card-mobile-image.swiper-slide
              img.details-section__card-mobile-img(src="images/details-section-card-img-2.jpg" loading="lazy" width="720" height="544" alt="image")
            .details-section__card-mobile-image.swiper-slide
              img.details-section__card-mobile-img(src="images/details-section-card-img-3.jpg" loading="lazy" width="600" height="544" alt="image")
            .details-section__card-mobile-image.swiper-slide
              img.details-section__card-mobile-img(src="images/details-section-card-img-4.jpg" loading="lazy" width="610" height="544" alt="image")
          .bullet-pagination

      .details-section__block-desktop
        .details-section__cards
          .details-section__card-wrapper-1
            .details-section__card
              img.details-section__card-icon(src="images/details-section-card-icon-1.svg" loading="lazy" width="64" height="64" alt="icon")
              .font-s-18 Из чего состоит <br> ежедневная работа <br> владельца кофейни
            .details-section__card
              img.details-section__card-icon(src="images/details-section-card-icon-2.svg" loading="lazy" width="64" height="64" alt="icon")
              .font-s-18 На что обращать внимание <br> при выборе локации и <br> помещения
            .details-section__card
              img.details-section__card-icon(src="images/details-section-card-icon-3.svg" loading="lazy" width="64" height="64" alt="icon")
              .font-s-18 Как правильно <br> позиционировать себя <br> на рынке и кто ваша ЦА
          .details-section__card-wrapper-2
            img.details-section__card-img(src="images/details-section-card-img-1.jpg" loading="lazy" width="760" height="544" alt="image")
          .details-section__card-wrapper-3
            img.details-section__card-img(src="images/details-section-card-img-2.jpg" loading="lazy" width="720" height="544" alt="image")
          .details-section__card-wrapper-4
            img.details-section__card-img(src="images/details-section-card-img-3.jpg" loading="lazy" width="600" height="544" alt="image")
          .details-section__card-wrapper-5
            img.details-section__card-img(src="images/details-section-card-img-4.jpg" loading="lazy" width="610" height="544" alt="image")
          .details-section__card-wrapper-6
            .details-section__card
              img.details-section__card-icon(src="images/details-section-card-icon-4.svg" loading="lazy" width="64" height="64" alt="icon")
              .font-s-18 Как легко привлекать клиентов <br> и выделиться среди <br> конкурентов
            .details-section__card
              img.details-section__card-icon(src="images/details-section-card-icon-5.svg" loading="lazy" width="64" height="64" alt="icon")
              .font-s-18 Как правильно организовать <br> работу персонала и на что <br> делать акцент
            .details-section__card
              img.details-section__card-icon(src="images/details-section-card-icon-6.svg" loading="lazy" width="64" height="64" alt="icon")
              .font-s-18 Как быстро окупить ваши <br> вложения и выйти на <br> стабильную прибыль

      .details-section__bottom
        img.details-section__bottom-img(src="images/details-section-bottom-img.png" loading="lazy" width="310" height="310" alt="image")
        .details-section__bottom-title.font-w-bold.font-s-22 Заполните форму, чтобы записаться на консультацию
        form.details-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
          button.btn(type="submit") записаться
        .details-section__agree-wrapper
          include ../components/agree.pug
