section.steps-section
  .wrapper
    .steps-section__container
      img.steps-section__icon(src="images/steps-section-icon.png" loading="lazy" width="128" height="132" alt="icon")
      h2.steps-section__title.font-w-bold.font-s-45
        span.font-w-bold-i.color-orange 7 простых шагов 
        | для запуска вашего бизнеса
      .steps-section__sub-title.font-s-22
        | Ознакомьтесь с ключевыми этапами совместной работы
      .swiper-bullet
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-1.svg" loading="lazy" width="37" height="37" alt="icon")
            .font-s-18
              | Заключаем договор франшизы
          .steps-section__card.swiper-slide.steps-card-order-3
            img.steps-section__card-icon(src="images/steps-section-card-icon-2.svg" loading="lazy" width="37" height="37" alt="icon")
            .font-s-18
              | Даем рекомендации по подбору помещения 
              br.no-br
              | и заключению договора аренды
          .steps-section__card.swiper-slide.steps-card-order-5
            img.steps-section__card-icon(src="images/steps-section-card-icon-3.svg" loading="lazy" width="37" height="37" alt="icon")
            .font-s-18
              | Рассказываем как провести ремонт и оформить 
              br.no-br
              | помещение
          .steps-section__card.swiper-slide.steps-card-order-7
            img.steps-section__card-icon(src="images/steps-section-card-icon-4.svg" loading="lazy" width="37" height="37" alt="icon")
            .font-s-18
              | Даем рекомендации по заказу и монтажу оборудования 
              br.no-br
              | и мебели
          .steps-section__card.swiper-slide.steps-card-order-2
            img.steps-section__card-icon(src="images/steps-section-card-icon-5.svg" loading="lazy" width="37" height="37" alt="icon")
            .font-s-18
              | Предоставляем консультации по настройке рекламы и 
              br.no-br
              | контакты SMM-специалиста
          .steps-section__card.swiper-slide.steps-card-order-4
            img.steps-section__card-icon(src="images/steps-section-card-icon-6.svg" loading="lazy" width="37" height="37" alt="icon")
            .font-s-18
              | Даём рекомендации по формированию запасов 
              br.no-br
              | и расходных материалов
          .steps-section__card.swiper-slide.steps-card-order-6
            img.steps-section__card-icon(src="images/steps-section-card-icon-7.svg" loading="lazy" width="37" height="37" alt="icon")
            .font-s-18
              | Консультируем при открытии студии
        .bullet-pagination
      .steps-section__bottom
        img.steps-section__bottom-icon(src="images/steps-section-bottom-icon.png" loading="lazy" width="517" height="161" alt="icon")
        .font-w-bold.font-s-34 Работаем строго по договору, 
        .steps-section__bottom-text.font-s-18
          | в котором описаны наши обязанности и 
          span.font-w-bold все условия сотрудничества
        button.btn.steps-section__btn(data-remodal-target="modal-form-agreement") Скачать пример договора
      img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="1490" height="900" alt="image")
